html {
    font-family: sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    text-decoration: underline;
    font-size: 1.9rem;
}

.container {
    text-align: center;
    background: linear-gradient(to bottom right, #4ea6e0, #3a8cc5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container input[type="radio"] {
    text-align: left;
    margin-left: 20px;
}
